header {
  background-color: yellow;
  border-radius: 10px;
  border: solid 1px #cccccc;
  margin-bottom: 5px;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

article {
  background-color: cyan;
  border-radius: 10px;
  border: solid 1px #cccccc;
  width: auto;
}

footer {
  background-color: orange;
  border-radius: 10px;
  border: solid 1px #cccccc;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  margin-top: 10px;
}

footer div {
  background-color: magenta;
  padding: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 960px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
  footer {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 650px) {
  main {
    grid-template-columns: 1fr;
  }
  footer {
    grid-template-columns: 1fr;
  }
}

header.exo-header {
  display: block;
  background-color: #a8b6a1;
  color: #1a1a1a;
  padding: 10px 20px;
  border-bottom: 6px solid #519681;
}

header.exo-header h1,
header.exo-header h2,
header.exo-header a {
  color: #1a1a1a;
}

.exo-nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exo-nav a.nav-prev,
.exo-nav a.nav-next {
  background-color: white;
  color: #111;
  padding: 12px 20px;
  border-radius: 20px;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.exo-nav a.nav-prev:hover,
.exo-nav a.nav-next:hover {
  transform: translateY(-3px);
}

.nav-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.exo-title {
  font-size: 2.5rem;
  margin: 0;
}

.exo-subtitle a {
  font-size: 1rem;
  text-decoration: none;
}

.exo-subtitle a:hover {
  text-decoration: underline;
}

.exo-text {
  margin: 10px 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #111;
  text-align: justify;
}
